torch==2.6.0 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124

# DreamShaper Dependencies
diffusers~=0.32.2
transformers~=4.48.3

# YOLO Dependencies
ultralytics~=8.3.58
opencv-python~=4.10.0.84

# FastAPI Dependencies
fastapi[standard]~=0.115.6
uvicorn~=0.34.0
pydantic~=2.10.5
pydantic-settings~=2.7.1

# Other Dependencies
numpy~=2.0.2
llama-cpp-python --index-url https://abetlen.github.io/llama-cpp-python/whl/cu124/  # For CUDA 12.4