# AI Dependencies
torch
torchvision
numpy~=2.0.2
llama-cpp-python

# DreamShaper Dependencies
diffusers~=0.32.2
transformers~=4.48.3

# YOLO Dependencies
ultralytics~=8.3.58
opencv-python~=4.10.0.84

# FastAPI Dependencies
fastapi[standard]~=0.115.6
uvicorn~=0.34.0
pydantic~=2.10.5
pydantic-settings~=2.7.1
starlette~=0.41.3
gunicorn
accelerate

# Testing Libraries
pytest~=8.3.4
pytest-cov~=6.0.0

# Optional Dependencies
PyQt5~=5.15.11